.min-vh-50 {
    min-height: 50vh; 
}
.min-vh-85 {
    min-height: 85vh;
}
.min-vh-75 {
    min-height: 75vh;
}
.min-vh-65 {
    min-height: 65vh;
}

.min-h-150px {
    min-height: 150px; 
}

.min-h-250px {
    min-height: 250px;    
}

.min-h-350px {
    min-height: 350px; 
}