.letter-spacing-1 {
	letter-spacing: 1px;
}

.letter-spacing-2 {
	letter-spacing: 2px;
}

.letter-spacing-3 {
	letter-spacing: 3px;
}

.letter-spacing-4 {
	letter-spacing: 4px;
}

.letter-spacing-5 {
	letter-spacing: 5px;
}

.letter-spacing-6 {
	letter-spacing: 6px;
}